body {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

.title {
	text-align: center;
	color: #ff0000;
}

.result {
	text-align: center;
	border: solid;
	border-color: #ff0000;
	max-width: 600px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.8);
}

.result-msg {
	text-align: center;
	max-width: 800px;
	margin: auto;
	padding: 20px;
	color: #ff0000;
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 60px;
}

.font-italic {
	font-style: italic;
}

.font-weight-bold {
	font-weight: bold;
}

.btn {
	width: 200px;
	margin: auto;
}