<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf">

<head>
	<meta charset="UTF-8">
	</meta>
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="/q02_bmi/css/home.css">
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	<title>BMI計算</title>
</head>

<body>
	<h1 class="page-title">BMI計算</h1>
	<div class="form border border-info rounded">
		<form method="post" th:action="@{/bmi/result}" th:object="${bmiFormModel}">
			<label>身長( 例.身長170cmの場合:1.7 )</label><br />
			<input type="text" placeholder="数値で入力してください" th:field="*{height}" class="form-control" /><br />
			<span th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="text-danger">error!</span>
			<br />
			<label>体重( 例.体重60kgの場合:60.0 )</label><br />
			<input type="text" placeholder="数値で入力してください" th:field="*{weight}" class="form-control"/><br />
			<span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="text-danger">error!</span>
			<br />
			<button class="btn btn-info" type="submit">計算</button>

		</form>
		<p th:if="${validationError}" th:text="${validationError}">validation error</p>
	</div>
</body>

</html>