@charset "UTF-8";

body {
	background-image: url('../images/calculator.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.page-title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.result {
	text-align: center;
	border: double;
	width: 50%;
	margin: 0 auto;
	padding-top: 20px;
	background-color: rgb(250, 250, 250, 0.8);
}

#calcResult {
	color: #FF0000;
	font-size: 60px;
}

h2 {
	font-size: 20px;
}

.num-result {
	font-size: 30px;
}

.btn {
	width: 70px;
	margin: auto;
}