body {
	background: #e9f0f7;
	background-size: cover;
	background-repeat: no-repeat;
}

.nabeatu-img {
	width: 250px;
	height: 350px;
	object-fit: cover;
	text-align: center;
}

#containter {
	text-align: center;
}

h1 {
	color: #55acee;
	font-family: cursive;
	font-weight: bold;
	font-size: 72px;
	margin-top: 50px;
}

.sub-title {
	padding-bottom: 30px;
}

p {
	color: #55acee;
	font-family: cursive;
	font-weight: bold;
	font-size: 20px;
	margin-top: 50px;
}

h3 {
	color: #55acee;
	font-family: cursive;
	font-weight: bold;
	font-size: 50px;
	margin-top: 50px;
}

.number {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

.text-danger {
	color: #FF0000;
}

